<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" >Purchase Order</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/Login" routerLinkActive="active">Login<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/Register" routerLinkActive="active">Register</a>
        <a class="nav-item nav-link" routerLink="/ReactiveRegister" routerLinkActive="active">Reactive Form Register</a>

        <a class="nav-item nav-link" routerLink="/PersonDetail" routerLinkActive="active">Person Details</a>
        <a class="nav-item nav-link" routerLink="#" routerLinkActive="active">Don't know</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>